<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="NerUrls" type="UrlsSection, 
          ResourceInterogator, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <NerUrls>
    <urls>
      <add url="http://localhost" port="8091" />
      <add url="http://localhost" port="8092" />
      <add url="http://localhost" port="8093" />
      <add url="http://localhost" port="8094" />
      <add url="http://localhost" port="8095" />
    </urls>
  </NerUrls>
  
  <appSettings>
    <add key="mongo_connection_string" value="mongodb://localhost:27017/"/>
    <add key="mongo_database_name" value="local"/>
    <add key="max_preparation_threads" value="2"/>
    <add key="max_file_scan_threads" value="2"/>
    <add key="with_credentials" value="false"/>
    <add key="max_file_size" value="10"/>
    <add key="max_retries" value="3"/>
    <add key="task_timeout" value="60000"/>
    <add key="tmp_files_folder" value="files"/>
    <add key="scanning_path" value="\\\\Laptop-7ir86jf2\\bufs"/>
    <add key="username" value=""/>
    <add key="password" value=""/>
    <add key="domain" value=""/>
    <add key="repo_id" value="5818c9abbd8e316ee2e8f255"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>