<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mongo_connection_string" value="mongodb://localhost:27017/"/>
    <add key="mongo_database_name" value="local"/>
    <add key="max_preparation_threads" value="10"/>
    <add key="max_file_scan_threads" value="10"/>
    <add key="with_credentials" value="false"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>